/* FONT FACE - font-display: fallback; */

/* VÍ DỤ - tuỳ chỉnh theo từng dự án*/


@font-face {
    font-family: "mb";
    src: url("../fonts/font-Muli/Muli-Black.ttf");
}

@font-face {
    font-family: "mbItalic";
    src: url("../fonts/font-Muli/Muli-BlackItalic.ttf");
}

@font-face {
    font-family: "mbBold";
    src: url("../fonts/font-Muli/Muli-Bold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "mbBoldItalic";
    src: url("../fonts/font-Muli/Muli-BoldItalic.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "mExtraBold";
    src: url("../fonts/font-Muli/Muli-ExtraBold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "mExtraBoldItalic";
    src: url("../fonts/font-Muli/Muli-ExtraBoldItalic.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "mExtraLight";
    src: url("../fonts/font-Muli/Muli-ExtraLight.ttf");
}

@font-face {
    font-family: "mExtraLightItalic";
    src: url("../fonts/font-Muli/Muli-ExtraLightItalic.ttf");
}

@font-face {
    font-family: "mutiItalic";
    src: url("../fonts/font-Muli/Muli-Italic.ttf");
}

@font-face {
    font-family: "mutiLight";
    src: url("../fonts/font-Muli/Muli-Light.ttf");
}

@font-face {
    font-family: "mutiLightItalic";
    src: url("../fonts/font-Muli/Muli-LightItalic.ttf");
}

@font-face {
    font-family: "mutiRegular";
    src: url("../fonts/font-Muli/Muli-Regular.ttf");
}

@font-face {
    font-family: "mutiSemiBold";
    src: url("../fonts/font-Muli/Muli-SemiBold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "mutiSemiBoldItalic";
    src: url("../fonts/font-Muli/Muli-SemiBoldItalic.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "PDBlack";
    src: url("../fonts/font-PlayfairDisplay/PlayfairDisplay-Black.ttf");
}

@font-face {
    font-family: "PDBlackItalic";
    src: url("../fonts/font-PlayfairDisplay/PlayfairDisplay-BlackItalic.ttf");
}

@font-face {
    font-family: "PDBlackBold";
    src: url("../fonts/font-PlayfairDisplay/PlayfairDisplay-Bold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "PDBlackBoldItalic";
    src: url("../fonts/font-PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "PDBlackExtraBold";
    src: url("../fonts/font-PlayfairDisplay/PlayfairDisplay-ExtraBold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "PDBlackExtraBoldItalic";
    src: url("../fonts/font-PlayfairDisplay/PlayfairDisplay-ExtraBoldItalic.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "PDItalic";
    src: url("../fonts/font-PlayfairDisplay/PlayfairDisplay-Italic.ttf");
}

@font-face {
    font-family: "PDMedium";
    src: url("../fonts/font-PlayfairDisplay/PlayfairDisplay-Medium.ttf");
}

@font-face {
    font-family: "PDMediumItalic";
    src: url("../fonts/font-PlayfairDisplay/PlayfairDisplay-MediumItalic.ttf");
}

@font-face {
    font-family: "PDRegular";
    src: url("../fonts/font-PlayfairDisplay/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: "PDSemiBold";
    src: url("../fonts/font-PlayfairDisplay/PlayfairDisplay-SemiBold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "PDSemiBoldItalic";
    src: url("../fonts/font-PlayfairDisplay/PlayfairDisplay-SemiBoldItalic.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}